:host {
  width: 85%;
  margin: 2rem auto 0 auto;
  padding: 1rem 3rem;
  border: 1px solid var(--dark-color);
}

.component-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--dark-color);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.btn-wrapper {
  width: 100%;
  text-align: right;
}

.btn-wrapper button {
  display: inline-block;
  width: 75px;
}

@media screen and (max-width: 768px) {
  :host{
    width: 100%;
    padding: 1rem;
  }

  .component-wrapper {
    width: 100%;
  }
}
